<ul>
  {{#each dates}}
    <li>
      <a href="#{{name}}" data-page="{{name}}" {{#unless enabled}}class="is-disabled"{{/unless}}>
        <time datetime="{{datetime}}">
          <span class="day">{{day}}</span>
          <span class="dayname">{{dayname}}</span>
        </time>
      </a>
    </li>
  {{/each}}
</ul>
